@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-menu-link.active {
  background-color: rgba(4, 120, 87, 1) !important;
}

@media (min-width: 1024px) {
  body aside:hover {
    width: 16rem !important;
  }

  body aside:hover .sidebar-logo-text {
    opacity: 1 !important;
  }

  body aside:hover .sidebar-menu-link-text {
    opacity: 1 !important;
  }

  body aside:hover ~ main {
    margin-left: 16rem !important;
  }

  body aside:hover ~ nav {
    margin-left: 16rem !important;
  }
}
